
body{
    background-image: url(https://images.pexels.com/photos/15045055/pexels-photo-15045055.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
